.content{
	grid-area: content;
}

.back_img{
	width: 80%;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
}
.profile_info_wrapper{
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
	padding-top: 25px;
}
.profile_img{
	width: 150px;
	margin-top: 5px;
	margin-right: 10px;
}
.profile_name{
	font-size: 25px;
	color: #E4E6EBFF;
	font-weight: 700;
}
.profile_additional{
	margin-top: 10px;
	display: flex;
	border-radius: 2%;
	color: rgb(72, 73, 75);
}
.profile_additional_kind{
	padding-right: 10px;
	color: #B0B3B8FF;
}
