.header {
	grid-area: header; 
	background-color: #242526FF;
	border-bottom: 1px solid #393A3BFF;
  }
  .header_logo {
	width: 45px;
	margin-left: 210px;
	padding-top: 2px;
	display: inline;
  }

.lalala{
	background-color:aqua;
}

.loginBlock{
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}