.header {
	grid-area: header; 
	background-color: #242526FF;
	border-bottom: 1px solid #393A3BFF;
  }
  .header_logo {
	width: 45px;
	margin-left: 60px;
	padding-top: 2px;
  }

.lalala{
	background-color:aqua;
}