.nav {
  grid-area: sidebar;
  height: 500px;
  margin-left: 200px;
  margin-top: 10px;
}

.ul {
  list-style: none;
}

.li {
  margin-left: 10px;
  margin-top: 12px;
}

.item{
	color: white;
	font-weight: 600;
}
.active{
	color: rgba(86, 114, 235, 0.685);
}

.hr{
	margin-top: 5px;
	margin-left: 5px;
	border-bottom: 1px solid #3E4042FF;
	width: 100px;
}