.profile_wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.profile_info_wrapper{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-bottom: 50px;
	padding-top: 25px;
}
.profile_wrapper_input{
	padding-bottom: 10px;
}
.profile_img{
	width: 150px;
	margin-top: 5px;
	margin-right: 10px;
}

.profile_name{
	font-size: 25px;
	color: #E4E6EBFF;
	font-weight: 700;
}

.loadImg{
	margin-bottom: 50px;
	margin-right: 100px;
	display: flex;
}
