.wrapper{
	display: flex;
	border-radius: 5px;
	background-color: #242526FF;
	margin-top: 10px;
	margin-left: 50px;
	width: 800px;
	padding: 5px;
	padding-left: 10px;
	height: 90vh;
}
.dialogs{
	padding-right: 50px;
	border-right: 1px solid #3E4042FF;
}

.messages{
	padding-left: 10px;
	height: 80vh;
	overflow-y: auto;
}

.dialogs_ul{
	list-style: none;
}

.messageWrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}
.sendMessage{
	display: flex;
	background-color: #4A4B4CFF;
	align-items: center;
}
.bSend.bSend{
	text-align: center;
}


