/* ----------default------------ */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}
/* ----------default------------ */

body {
	background-color: #171819FF;
}

.app-wrapper {
  display: grid;
  grid-template-areas: 
	"header header"
	"sidebar content";
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 50px 1fr;
  margin-left: auto;
  margin-right: auto;
}


